.btn-primary,
.btn-secondary,
.btn-warning,
.btn-success,
.btn-info {
  color: white !important;
}

.btn-outline-success {
  &:hover {
    color: $white !important;
  }
}

//   .btn-primary-light
@each $name, $colors in $brand-colors {
  .btn-#{$name}-light {
    background-color: map-get($colors, '50') !important;
    color: map-get($colors, '700') !important;

    &:hover {
      background-color: map-get($colors, '500') !important;
      color: $white !important;
    }
  }

  .bg-#{$name}-light {
    background-color: map-get($colors, '50') !important;
    color: map-get($colors, '600') !important;
  }

  .bg-#{$name}-dark {
    background-color: map-get($colors, '700') !important;
  }
}

.badge-dim {
  position: relative;
  padding: 0.25rem 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  vertical-align: middle;
  display: inline-flex;
  border-radius: 3px;
}

@each $name, $colors in $brand-colors {
  .badge-dim-#{$name} {
    color: map-get($colors, '50') !important;
    background-color: map-get($colors, '700') !important;
  }
}

// .btn-warning-light {
//   color: $warning-800 !important;
// }

// .btn-success-light {
//   color: $success-800 !important;
// }

.btn-xs {
  padding: 0.3rem 0.75rem;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 3px;
  @include media-breakpoint-up(md) {
    font-size: 0.7rem;
  }
}

.btn-link,
a {
  color: $primary;
  text-decoration: none !important;
  &:hover {
    color: $secondary;
  }
}

.btn-wide {
  padding: 1rem 3rem;

  &.btn-sm {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    @include media-breakpoint-up(md) {
      font-size: 0.9rem;
    }
    font-weight: 500;
    svg {
      height: 1.2rem;
    }
  }

  &.btn-xs {
    padding: 0.4rem 1.75rem;
    font-size: 0.85rem;
    @include media-breakpoint-up(md) {
      font-size: 0.7rem;
    }
    svg {
      height: 1rem;
    }
  }
}

.btn-wide-sm {
  padding: 1rem 2rem;

  &.btn-sm {
    padding: 0.75rem 1.5rem;
  }

  &.btn-xs {
    padding: 0.4rem 1.25rem;
  }
}

.show-more-button {
  display: block;
  font-weight: 500;
  text-decoration: underline;
  color: $secondary;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;

  &.warning {
    color: $warning-700;
  }
}

.show-more-holder {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0), #fff 88%);
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: all 1s;
  }
}

.btn-outline {
  &-primary,
  &-secondary,
  &-success,
  &-warning,
  &-dark,
  &-info {
    border-width: 2px;
    color: black;
  }
  &-primary,
  &-dark {
    &:hover {
      color: $white;
    }
  }

  &-warning {
    border-color: $warning-700;
  }
}

.btn-warning {
  background: $warning-600;
  border-color: $warning-600;
}
