.icon-xs svg {
  height: 0.8rem;
  width: 0.8rem;
}
.icon-sm svg {
  height: 1rem;
  width: 1rem;
}

.icon-md svg {
  height: 1.25rem;
  width: 1.25rem;
}

.icon-md2 svg {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-lg svg {
  height: 1.75rem;
  width: 1.75rem;
}

.icon-xl {
  img,
  svg {
    height: 3rem;
    width: 3rem;
  }
}

.icon-xl img {
  object-fit: contain;
}

.img-compact {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 4px;
}

.avatar-rounded,
.img-rounded {
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;

  @each $color-name, $color-shades in $brand-colors {
    &.avatar-#{$color-name} {
      background-color: map-get($color-shades, '100');
      border: 1px solid map-get($color-shades, '200');
      color: map-get($color-shades, '700');
    }
  }

  &.avatar-gray {
    background-color: $primary-50;
    border-color: transparent;
  }
}

.img-rounded,
.img-rounded-cover {
  object-fit: cover;
}

.hover-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hover-image img {
  transition: all 0.3s ease-in-out 0s;
}

.hover-image:before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($secondary, 0.2);
  display: block;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hover-image:hover:before,
.hover-image:focus:before {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hover-image:hover img,
.hover-image:focus img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
