$side-modal-width: 26rem;

.modal-big {
  max-height: 70vh;
  max-width: 850px;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 500;
}
.modal-header {
  .close {
    font-size: 2rem;
    color: $primary;
  }
}

.modal-left .modal-dialog,
.modal-right .modal-dialog {
  position: fixed;
  top: 0;
  margin: auto;
  width: $side-modal-width;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.modal-left .modal-content,
.modal-right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
}

/*Left*/
.fade.modal-left .modal-dialog {
  left: -$side-modal-width;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal-left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.fade.modal-right .modal-dialog {
  right: -$side-modal-width;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.fade.modal-right.show .modal-dialog {
  right: 0;
}
