.table {
  font-size: 0.9rem;
  margin-bottom: 0;
  thead tr {
    font-size: 11px;
    font-weight: 700;
    // text-transform: uppercase;
    // letter-spacing: 0.1rem;
    background: #f5f6fa;

    th {
      padding: 1rem 1.25rem;
      vertical-align: middle;
    }
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #e5e5e5 !important;
  }

  td {
    vertical-align: middle;
  }

  td:first-child,
  th:first-child {
    padding-left: 2rem;
  }

  td:last-child,
  th:last-child {
    padding-right: 2rem;
  }

  &.table-no-padding {
    td:first-child,
    th:first-child {
      padding-left: 0.5rem;
    }

    td:last-child,
    th:last-child {
      padding-right: 0.5rem;
    }
  }

  .block-text-small {
    font-size: 12px;
    display: block;
  }

  .block-text-smaller {
    font-size: 10px;
    display: block;
  }
}

.react-excel {
  @extend .card;
  margin-top: 1rem;
  margin-bottom: 2rem;

  table {
    @extend .table;
  }
}

td {
  .img-youtube-placeholder {
    height: 15rem;
  }
  .icon-video {
    font-size: 2rem !important;
  }
}

// https://stackoverflow.com/questions/72093603/how-to-make-table-fit-in-mobile-view
.table-responsive {
  min-height: 0.01%;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $gray-400;

    > .table {
      margin-bottom: 0;
    }

    > .table > thead > tr > th,
    > .table > tbody > tr > th,
    > .table > tfoot > tr > th,
    > .table > thead > tr > td,
    > .table > tbody > tr > td,
    > .table > tfoot > tr > td {
      white-space: nowrap;
    }
  }
}
