.header-secondary,
.tou-header {
  color: $green;
  font-size: 1.12rem;
  margin: 0;
  padding: 2.5rem 0 1.5rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
}

.text-green {
  color: $green;
}

.text-gray {
  color: $gray-600 !important;
}

.text-normal {
  font-size: 1.2rem;
}

.text-soft {
  color: $primary-300;
}

.text-link {
  color: $primary;
  cursor: pointer;

  .text-secondary {
    color: $secondary;
  }

  &.text-muted {
    color: $text-muted;
  }

  &:hover {
    color: $secondary !important;
  }

  &.text-danger:hover {
    color: $danger !important;
  }
}

@each $name, $colors in $brand-colors {
  .text-#{$name}-lighter {
    color: map-get($colors, '200') !important;
  }

  .text-#{$name}-light {
    color: map-get($colors, '400') !important;
  }

  .text-#{$name}-dark {
    color: map-get($colors, '700') !important;
  }
  .text-#{$name}-darker {
    color: map-get($colors, '900') !important;
  }
}

.text-shadow-light {
  text-shadow: 3px 4px 7px rgb(183 183 183 / 60%);
}

.text-normal {
  font-size: 1rem !important;
}

.text-large,
.text-lg {
  font-size: 1.25rem !important;
}

.text-medium,
.text-md {
  font-size: 0.95rem !important;
  @include media-breakpoint-up(md) {
    font-size: 0.85rem !important;
  }
}

.text-small,
.text-sm {
  font-size: 0.85rem !important;
  @include media-breakpoint-up(md) {
    font-size: 0.75rem !important;
  }
}

.text-smaller,
.text-xs {
  font-size: 0.75rem !important;
  @include media-breakpoint-up(md) {
    font-size: 0.65rem !important;
  }
}

.text-lighter {
  color: lighten($text-muted, 20%);
}

.text-height-0 {
  line-height: 1 !important;
}
.text-height-1 {
  line-height: 1.25 !important;
}
.text-height-2 {
  line-height: 1.5 !important;
}
.text-height-3 {
  line-height: 1.75 !important;
}
.text-height-4 {
  line-height: 2 !important;
}
.text-height-5 {
  line-height: 2.5 !important;
}

.header-smaller {
  font-size: 1.25rem;
}

.header-content {
  font-size: 1.25rem;
  font-weight: 700;
  color: $primary-400;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: $primary;
  margin-bottom: 1rem;
  letter-spacing: -0.01em;

  strong {
    color: $primary-400;
  }

  &-small {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
}

.text-muted svg {
  stroke: $text-muted !important;
}

.overlay {
  position: relative;
  display: block;
  &:before {
    position: absolute; /* Sit on top of the page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
  }
  &__secondary:before {
    background: rgba($secondary, 0.5);
  }
  &__danger:before {
    background: rgba($danger, 0.5);
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 0.75rem;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

.lh-2 {
  line-height: 2.5;
}

.ls-1 {
  letter-spacing: 1px;
}

.text-strike {
  text-decoration: line-through;
}

.confirmation-text {
  font-size: 1.1rem;
  color: $gray-600;
  font-weight: normal !important;
  line-height: 1.8;
  padding: 1rem 2rem 0.5rem !important;
  margin-bottom: 2rem !important;
}

.tou-header {
  color: $secondary;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.tou-title {
  color: $primary;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.text-secondary-700 {
  color: $secondary-700;
}

.text-success-dark {
  color: $success-700;
}
.text-secondary-dark {
  color: $secondary-900;
}

.text-lead {
  line-height: 1.8;
  color: $gray-800;
}

.text-lead-after {
  font-weight: 500;
  font-size: 0.8rem;
  color: $primary-200;
  text-transform: uppercase;
}

.text-badge {
  color: $warning-700;
  font-weight: 500;
  font-size: 1.2rem;
}

.text-single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
