.header-secondary,
.tou-header {
  color: $green;
  font-size: 1.12rem;
  margin: 0;
  padding: 2.5rem 0 1.5rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
}

.text-green {
  color: $green;
}

.text-gray {
  color: $gray-600;
}

.text-normal {
  font-size: 1.2rem;
}

.text-link {
  color: $primary;
  cursor: pointer;

  .text-secondary {
    color: $secondary;
  }

  &.text-muted {
    color: $text-muted;
  }

  &:hover {
    color: $secondary !important;
  }

  &.text-danger:hover {
    color: $danger !important;
  }
}

.text-shadow-light {
  text-shadow: 3px 4px 7px rgb(158 157 156 / 80%);
}

.text-small {
  font-size: 0.75rem;
}

.text-smaller {
  font-size: 0.65rem;
}

.text-lighter {
  color: lighten($text-muted, 20%);
}

.text-height-0 {
  line-height: 1 !important;
}
.text-height-1 {
  line-height: 1.25 !important;
}
.text-height-2 {
  line-height: 1.5 !important;
}
.text-height-3 {
  line-height: 1.75 !important;
}
.text-height-4 {
  line-height: 2 !important;
}
.text-height-5 {
  line-height: 2.5 !important;
}

.header-smaller {
  font-size: 100%;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.text-muted svg {
  stroke: $text-muted !important;
}

.overlay {
  position: relative;
  display: block;
  &:before {
    position: absolute; /* Sit on top of the page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
  }
  &__secondary:before {
    background: rgba($secondary, 0.5);
  }
  &__danger:before {
    background: rgba($danger, 0.5);
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 0.75rem;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

.lh-2 {
  line-height: 2.5;
}

.ls-1 {
  letter-spacing: 1px;
}

.text-strike {
  text-decoration: line-through;
}

.confirmation-text {
  font-size: 1.2rem;
  color: $gray-600;
  font-weight: normal;
  margin-bottom: 2rem !important;
}

.tou-header {
  color: $secondary;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.tou-title {
  color: $primary;
  font-size: 1.2rem;
  margin-top: 3rem;
}
