.toast,
.toast-alert {
  &-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 100000;
  }

  &__top-right {
    top: 6rem;
    right: 1rem;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
  }

  &-header {
    padding: 0.75rem 1.25rem;
    color: $red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0 !important;
  }

  &-body {
    padding: 1rem 1.5rem;
    color: darken($red, 15%);
    min-width: 15rem;
  }

  &-icon-holder {
    color: $red;
    display: inline-block;
    margin-right: 0.5rem;

    svg {
      line-height: 1rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &.error {
    .toast-message-content {
      color: $red;
    }
  }

  &.success {
    .toast-icon-holder {
      color: $green;
    }

    .toast-header,
    .toast-message-content {
      color: darken($green, 5%);
    }

    .toast-body {
      color: darken($green, 30%);
    }
  }

  &.info {
    .toast-icon-holder {
      color: $secondary;
    }

    .toast-header,
    .toast-message-content {
      color: darken($secondary, 5%);
    }

    .toast-body {
      color: darken($secondary, 30%);
    }
  }

  &.warning {
    .toast-icon-holder {
      color: $orange;
    }

    .toast-header,
    .toast-message-content {
      color: darken($orange, 5%);
    }

    .toast-body {
      color: darken($orange, 30%);
    }
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.toast-alert {
  padding: 1rem;
  margin-bottom: 1rem;
}
