$gold: #ffc400;
$navy: #00204a;
$gray: #adb5bd;
$purple: #6f42c1;

.summary-container {
  @extend .question-container;
}

.summary-page {
  @extend .question-page;
}

.summary-content {
  @extend .question-content;
}

.diamond-divider {
  @extend .divider;
  max-width: 350px;
  margin: 0 auto;
  gap: 7px;
  .diamond {
    background: white;
    border-width: 3px;
    width: 25px;
    height: 25px;
  }
  span {
    height: 2px;
    background: $navy;
    margin-top: 10px;
  }
}

/* — win card — */
.summary-win {
  max-width: 40rem;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  font-size: 1.1rem;
  h5 {
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.8rem;
  }
}

/* — booster card styled like torn paper — */
.booster-card {
  aspect-ratio: 596 / 389;
  padding: 6rem;
  color: $navy;
  background: url('/img/game/summary/gold-border-background.svg');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100% auto;
  background-attachment: scroll;

  margin-bottom: 6rem;

  h5 {
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  p {
    margin-bottom: 2rem;
    text-align: center;
  }
}
